<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/places">Places</a></li>
    <li class="breadcrumb-item active" aria-current="page">Contact</li>
  </ol>
</nav>

<div id="contact" class="container">
  <div class="form col-md-6">
    <h3>CONTACT US!</h3>
    <form>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Name">
      </div>
      <div class="form-group">
        <input type="email" class="form-control" placeholder="Email">
      </div>
      <div class="form-group">
        <textarea class="form-control" rows="3" placeholder="Message"></textarea>
      </div>

      <button type="submit" class="col-md-12 btn btn-primary">Send</button>
    </form>
  </div>

  <div id="contact_info">
    <div id="phone">
      <i class="material-icons">
        local_phone
      </i>
      <div class="info">
        <p>555-123-212</p>
        <p>555-112-122</p>
      </div>
    </div>

    <div id="mail">
      <i class="material-icons">
        mail_outline
      </i>
      <div class="info">
        <p>contact@company.com</p>
        <p>info@company.com</p>
      </div>
    </div>

    <div id="location">
      <i class="material-icons">
        location_on
      </i>
      <div class="info">
        <p>La casa de gominola</p>
        <p>Calle de la piruleta</p>
      </div>
    </div>

  </div>
</div>