<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">PlatziSquare</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact</a>
      </li>

    </ul>

  </div>
</nav>



<agm-map [latitude]="lat" [longitude]="lng">
  <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
</agm-map>

<hr>

<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h2>Lugares cercanos</h2>
      <ul class="list-group">
        <ng-container *ngFor="let place of places">
          <li class="list-group-item" *ngIf="place.active">{{place.name}}</li>
        </ng-container>
      </ul>
    </div>
    <div class="col-md-4">
      <h2>Destacados</h2>

    </div>
  </div>
</div>

<ul>
  <ng-container *ngFor="let place of places; let i = index" [ngSwitch]="place.proximity">
    <a>
      <!-- without [] because the directive return nothing -->
      <li count-clicks [ngStyle]="{ color : (place.active) ? 'black' : 'gray' }" [ngClass]="{par_row : (i+1)%2 !== 0}" [standout]="place.plan">
        {{ place.name }} -
        <span *ngSwitchCase="1" [ngStyle]="{color:'green'}">Closest</span>
        <span *ngSwitchCase="2" [ngStyle]="{color:'orange'}">Near</span>
        <span *ngSwitchCase="3" [ngStyle]="{color:'red'}">Far</span>
      </li>
    </a>
  </ng-container>
</ul>